.image-grid-container{
  background-color: transparent;
}
.image-grid-prize-image{
  width:300px;
  height: 300px;
  margin:0 auto;
  padding: 10px;
}
.image-grid-card{
  margin-top: 2vh!important;
  margin-bottom: 2vh!important;
  cursor: pointer;
}

.card-width-regular{
  width: 20%;
}
.card-width-mobile{
  width: 85%;
}
