.isotope-container{
  margin: auto;
}
.isotope-container ul li{
  list-style: none;
}
.isotope-item{
  /*max-width:40%;*/
  min-width:40vw;
  max-width: 300px;
  margin: 2%;
  float: left;
  overflow: hidden;
  text-align: left;
}
.expand{
  width:500px;
  /*width:400px;*/
  /*height: auto;*/
}
.brick-img{
  height:40vw;
  width:40vw;
  max-height: 300px;
  max-width: 300px;
  border-radius: 500px;
}
