
<md-content class="image-grid-container md-padding" >

  <div layout="column" layout-gt-sm="row"  ng-repeat="d in data track by $index" ng-if="$index % 4 === 0" >
    <md-card  class="image-grid-card margin-auto" ng-if="data[$index]">
      <img ng-src="{{data[$index].logoSrc}}" alt="{{data[$index].name}}" class="image-grid-prize-image"/>
      <md-card-content>
        <h2 class="md-title">By {{data[$index].name}}</h2>
      </md-card-content>
    </md-card>

    <md-card  class="image-grid-card margin-auto" ng-if="data[$index+1]" >
      <img ng-src="{{data[$index+1].logoSrc}}" alt="{{data[$index+1].name}}" class="image-grid-prize-image"/>
      <md-card-content>
        <h2 class="md-title">By {{data[$index+1].name}}</h2>
      </md-card-content>
    </md-card>

    <md-card class="image-grid-card margin-auto" ng-if="data[$index+2]">
      <img ng-src="{{data[$index+2].logoSrc}}" alt="{{data[$index+2].name}}" class="image-grid-prize-image"/>
      <md-card-content>
        <h2 class="md-title">By {{data[$index+2].name}}</h2>
      </md-card-content>
    </md-card>

    <md-card class="image-grid-card margin-auto" ng-if="data[$index+3]">
      <img ng-src="{{data[$index+3].logoSrc}}" alt="{{data[$index+3].name}}" class="image-grid-prize-image"/>
      <md-card-content>
        <h2 class="md-title">By {{data[$index+3].name}}</h2>
      </md-card-content>
    </md-card>


  </div>

</md-content>

