<div class="md-padding signup-mobile" ng-if="isMobile">

  <mobile-nav
    ng-if="isMobile"
    links="mobileLinks"
    trigger-fab-color="#1565C0"
    bg-grid-color="rgba(1,1,1,0.9)"></mobile-nav>

  <div id="not-mobile"class="col-md-12">
    <p class="md-title" fittext data-fittext-min="55" data-fittext-max="120">
      Nope.
    </p>
  </div>
  <code class="md-title" id="not-mobile-inner-text" fittext data-fittext-max="15">
    $ hackIDC sign-up "mobile-device"
    <br><br>
    < No, we do not permit signing up via mobile devices
    <br><br>
    $ sudo hackIDC sign-up "mobile-device"
    <br><br>
    < Ok, tablets are now allowed
  </code>
</div>
<md-content ng-if="!isMobile" class="singup-container">
  <div ng-if="!isMobile" class="md-padding signup">
    <md-button ui-sref="main" ui-sref-opts="{reload: true}">
      <i class="fa fa-chevron-left"></i>
      back
    </md-button>
    <!--<md-card id="timer-card">-->
    <!--<md-card-content>-->
    <!--<div>-->
    <!--<h2 class="md-display-2">-->
    <!--Registration will be open in-->
    <!--</h2>-->
    <!--<timer interval="1000" countdown="timeToCount">{{days}} day{{daysS}}, {{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer>-->
    <!--</div>-->
    <!--</md-card-content>-->
    <!--</md-card>-->
    <md-card class="signup-form">
      <md-card-content class="signup-form-content" layout-padding>
        <div class="form-title">

          <h3 class="md-display-3">HackIDC 2016 Application</h3>
          <hr />
        </div>
        <div class="form-fields">
          <form name="projectForm" layout="column">
            <div layout="row">
              <md-input-container flex>
                <label>First Name</label>
                <input md-maxlength="20" required name="firstName" ng-model="project.firstName">
                <div ng-messages="projectForm.firstName.$error">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="md-maxlength">The name has to be less than 20 characters long.</div>
                </div>
              </md-input-container>
              <md-input-container flex>
                <label>Last Name</label>
                <input  md-maxlength="20" required name="lastName" ng-model="project.lastName">
                <div ng-messages="projectForm.lastName.$error">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="md-maxlength">The name has to be less than 20 characters long.</div>
                </div>
              </md-input-container>
              <md-input-container flex>
                <label>Email</label>
                <input required type="email" name="email" ng-model="project.email"
                       minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                <div ng-messages="projectForm.email.$error" role="alert">
                  <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                    Your email must be between 10 and 100 characters long and look like an e-mail address.
                  </div>
                </div>
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container flex>
                <label>Gender</label>
                <md-select ng-model="projectForm.gender">
                  <md-option value="male">
                    Male
                  </md-option>
                  <md-option value="female">
                    Female
                  </md-option>
                  <md-option value="other">
                    Other
                  </md-option>
                </md-select>
                <div ng-messages="projectForm.gender.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-input-container flex>
                <label>Phone</label>
                <input required type="number" name="phone" ng-model="project.phone"
                       ng-pattern="/^05[0-9]{8}$/" />
                <div ng-messages="projectForm.phone.$error" role="alert">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="md-maxlength">Phone should be 10 digits</div>
                  <div ng-message="pattern">This doesn't look like a phone number.</div>
                </div>
              </md-input-container>
              <md-input-container flex>
                <label>Academic Institution</label>
                <md-select ng-model="projectForm.school">
                  <md-option ng-repeat="school in schools" value="{{school}}">
                    {{school}}
                  </md-option>
                </md-select>
                <div ng-messages="projectForm.school.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>

          </form>
        </div>


      </md-card-content>
    </md-card>
  </div>
</md-content>
