<div class="md-padding signup-mobile" ng-if="isMobile">
  <nav ng-if="isMobile" mfb-menu position="br" effect="zoomin" label="Close"
       active-icon="" resting-icon="fa fa-bars fa-2x fab-icon"
       toggling-method="click">
    <button mfb-button icon="fa fa-users fa-2x fab-icon" label="Sponsors" ng-click="scrollTo('sponsors')"></button>
    <button mfb-button icon="fa fa-trophy fa-2x fab-icon" label="Prizes" ng-click="scrollTo('prizes')" ></button>
    <button mfb-button icon="fa fa-question fa-2x fab-icon" label="Description" ng-click="scrollTo('description')"></button>
    <button mfb-button icon="fa fa-home fa-2x fab-icon" label="Home" ng-click="scrollTo('home')"></button>
  </nav>

  <div id="not-mobile"class="col-md-12">
    <p class="md-title" fittext data-fittext-min="55" data-fittext-max="120">
     Nope.
    </p>
  </div>
</div>
<div ng-if="!isMobile" class="singup-container">

  <div ng-if="!isMobile" class="col-md-12">
    not mobie
  </div>
</div>
