.singup-container{
  background-color: white;
}
#not-mobile{
  background-color: white;
  color: #EF5350;
  width:90vw;
  margin:0 auto;
}
#not-mobile-inner-text{
  color: white;
  margin:0 auto;
  padding:15px;
}
#not-mobile p{
  margin:0;
  padding:10px;
}
.signup-mobile{
  background-color: #272822;
  max-width: 98vw;
  min-height: 100vh;
  text-align: left;
}
.signup{
  background-color: #BBDEFB;
  min-height:97vh;

}
#timer-card{
  width:50%;
  margin: 0 auto;
  text-align: center;
}
