<div class="md-padding signup-mobile" ng-if="isMobile">
  <nav ng-if="isMobile" mfb-menu position="br" effect="zoomin" label="Close"
       active-icon="" resting-icon="fa fa-bars fa-2x fab-icon"
       toggling-method="click">
    <button mfb-button icon="fa fa-home fa-2x fab-icon" label="Home" ui-sref="main"></button>
  </nav>

  <div id="not-mobile"class="col-md-12">
    <p class="md-title" fittext data-fittext-min="55" data-fittext-max="120">
      Nope.
    </p>
  </div>
  <code class="md-title" id="not-mobile-inner-text" fittext data-fittext-max="15">
    $ hackIDC sign-up "mobile-device"
    <br><br>
    < No, we do not permit signing up via mobile devices
    <br><br>
    $ sudo hackIDC sign-up "mobile-device"
    <br><br>
    < Ok, tablets are now allowed
  </code>
</div>
<md-content ng-if="!isMobile" class="singup-container">
  <div ng-if="!isMobile" class="md-padding signup">
    <md-button ui-sref="main">
      <i class="fa fa-chevron-left"></i>
      back
    </md-button>
    <md-card id="timer-card">
      <md-card-content>
        <div>
          <h2 class="md-display-2">
            Registration will be open in
          </h2>
          <timer interval="1000" countdown="timeToCount">{{days}} day{{daysS}}, {{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer>
        </div>

      </md-card-content>
    </md-card>
  </div>
</md-content>
