<div ng-controller="MainCtrl" layout="column" ng-cloak>
  <header layout="row" data-header-scroll  ng-class="{min:boolChangeClass}" ng-if="!isMobile">
    <div flex="10"></div>
    <div du-scrollspy="home" flex>
      <p ng-class="{'md-display-2':!boolChangeClass}"><a href="#home" du-smooth-scroll>Home</a></p>
    </div>
    <div du-scrollspy="description" flex>
      <p ng-class="{'md-display-2':!boolChangeClass}"><a href="#description" du-smooth-scroll>Description</a>
      </p>
    </div>
    <div flex="20">
      <h1 class="header-title" ng-class="{'md-display-3':!boolChangeClass,'md-title':boolChangeClass,'text-min':boolChangeClass}">
        HackIDC
      </h1>
    </div>
    <div du-scrollspy="prizes" flex>
      <p ng-class="{'md-display-2':!boolChangeClass}"><a href="#prizes" du-smooth-scroll>Prizes</a></p>
    </div>
    <div du-scrollspy="sponsors" flex>
      <p flex ng-class="{'md-display-2':!boolChangeClass}"><a href="#sponsors" du-smooth-scroll>Sponsors</a></p>
    </div>
    <div flex="10" ></div>
  </header>

  <nav ng-if="isMobile" mfb-menu position="br" effect="zoomin" label="Close"
       active-icon="" resting-icon="fa fa-bars fa-2x fab-icon"
       toggling-method="click">
    <button mfb-button icon="fa fa-users fa-2x fab-icon" label="Sponsors" onclick="window.location='#sponsors'"></button>
    <button mfb-button icon="fa fa-trophy fa-2x fab-icon" label="Prizes" onclick="window.location='#prizes'" ></button>
    <button mfb-button icon="fa fa-question fa-2x fab-icon" label="Description" onclick="window.location='#description'" ></button>
    <button mfb-button icon="fa fa-home fa-2x fab-icon" label="Home" onclick="window.location='#home'"></button>
  </nav>


  <div id="main-page-content">
    <section style="height:120px" ng-if="!isMobile"></section>
    <section id="home">This is home</i></section>
    <section id="description">some data goes here</section>
    <section id="prizes">PROZESSs</section>
    <section id="sponsors">Make %$$%#$</section>
  </div>
</div>
