.container{
  margin: 0 auto;
  min-height: 100vh;
  /*min-width:100vw;*/
  height: 100%;
  /*width: 100%;*/
  background-color: #607D8B;
  overflow:hidden;
  overflow-y: hidden;
  padding: 2vh 0vw 2vh 0vw;
}
.margin-5vh-top{
  margin-top: 5vh;
}
.header{
  margin: 0 auto;
  text-align: center;
  color:rgba(255,255,255,0.9);
  font-weight: 300;
}
.header p{
  font-weight: 300;
}

.content{
  margin:0 auto;
}
.prize-card{
  background-color: #272822;
  width: 100%;
  padding: 1vh 1vw 1vh 1vw;
}
.company-logo{
  width:200px;
  height: auto;
}
.card-content{
  margin: 0 auto;
  padding-left: 3vw;
  padding-right: 3vw;
  text-align: center;
}
.card-content h2{
  text-align: center;
  color:#F92672;
}
.card-content p{
  color: #F8F8F2;
  opacity: 0.85;
}
.api-link{
  color: #A6E22E;
}

.align-left{
  text-align: left;
}
.justify{
  text-align: justify;
}
.fullWidth{
  width:90vw;
}
.seventy-present-width {
  width:70vw;
}
.padding-top{
  padding-top: 5vh;
}
