.container{
  margin:0 auto;
  padding: 0;
}
.content-container{
  background-color: #3F51B5;
  height:100vh;
}
.header{
  text-align: center;
  color:white;
  font-weight: 100;
  margin-bottom:0;
}
.content{
  margin: 0 auto;
  text-align: center;
}
table{
  min-width: 50vw;
  text-align: center;
  color:rgba(0,0,0,0.8);
}
.font-weight-100{
  font-weight: 100;
}

tr:nth-child(even){
  background-color: rgba(63, 81, 181, 0.95);
}
tr:nth-child(odd){
  background-color: transparent;
}

/*tr:first-child{*/
/*background-color: transparent;*/
/*}*/
