<div class="grid-bg" id="grid-bg" ng-style="{'background-color':bgGridColor}">
  <!--Here goes all the icons-->
  <div ng-repeat="link in links track by $index">
    <div layout="row" layout-xs="row" ng-if="$index % 3 === 0">
      <div flex="33" layout="column">
        <md-button class="md-fab" ng-click="links[$index].action(links[$index].actionArgs)">
          <i class="fa fa-2x fa-center" ng-class="links[$index].iconClass"></i>
        </md-button>
        <span>
          {{links[$index].label}}
          </span>
      </div>
      <div flex="33" layout="column">
        <md-button class="md-fab" ng-click="links[$index+1].action(links[$index+1].actionArgs)">
          <i class="fa fa-2x fa-center" ng-class="links[$index+1].iconClass"></i>
        </md-button>
        <span>
          {{links[$index+1].label}}
        </span>
      </div>
      <div flex="33" layout="column">
        <md-button class="md-fab" ng-click="links[$index+2].action(links[$index+2].actionArgs)">
          <i class="fa fa-2x fa-center" ng-class="links[$index+2].iconClass"></i>
        </md-button>
        <span>
        {{links[$index+2].label}}
        </span>
      </div>
    </div>
  </div>


</div>



<div class="mobile-nav-container">
  <md-button class="md-fab" id='grid-trigger' ng-style="{'background-color':bgColor}" ng-click="toggleGrid()">
    <i class="fa fa-2x fa-center" ng-class="{'fa-bars':!isGridVisible, 'fa-times' : isGridVisible}"></i>
  </md-button>
</div>
