.mobile-nav-container{
  position:fixed;
  right:0;
  bottom:0;
  padding-bottom:5vh;
  padding-right:5vw;
  z-index: 1;
}
.grid-bg{
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;

  padding:20px;
  position: fixed;
  width:100vw;
  height: 100vh;
  opacity:0;
}
.fa-center{
  padding-top:15px;
}
